<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFIR5Vja0rOSMrPNUoEAdK4wh0U1b-MbY</string>
	<key>GCM_SENDER_ID</key>
	<string>754573172825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.mydoc</string>
	<key>PROJECT_ID</key>
	<string>mydoc-98afe</string>
	<key>STORAGE_BUCKET</key>
	<string>mydoc-98afe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754573172825:ios:bc97480f24540f8dc11148</string>
</dict>
</plist>